# Don't accidentally publish certs/keys
*.key
*.pem
*.p12
*.pfx
*.p7b
*.crt
*.cer
*.der
# Don't publish TODO docs
TODO.*
*.TODO
# Ignore local env and compose files; delivered examples will end in .example
*compose.yml
*compose.yaml
*.env
# Ignore persistent container data
vols/
