# Don't accidentally publish certs/keys
*.key
*.pem
*.p12
*.pfx
*.p7b
*.crt
*.cer
*.der
# Don't publish TODO docs
TODO.*
*.TODO

# Ignore local environment files so we don't overwrite them
*.env

# Ignore local compose files, so we don't overwrite customizations
*compose.yml
*compose.yaml
